.image
{
    background-image:  url(cli.jpg);
    background-size:cover;
    background-position: center;
    height: 700px;
}

.gg1
{
	text-align: center;
    font-family: cursive;
    color:white;
}
.gg
{
    font-size: 22px;
    font-family: cursive;
    color:white;
}
#uname
{
    height: 30px;
    width:500px;
    margin-left: 100px;
    border-color:yellow;
    border:2px;
  
}

.body{
    text-align: center;
}

.navi
{
    background-color:navy;
    color:white;
    font-size: 15px;
    padding: 10px;
    border :1px  navy;  
    border-radius: 4px;
    width: 80px;
}
.navi:hover{
    
    background-color: gold;
}